Tyy
{
  "name": "OSS Tool Scanner - GitHub Enterprise",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "var-owner",
              "name": "owner",
              "value": "IHUB-Infrastructure",
              "type": "string"
            },
            {
              "id": "var-repo",
              "name": "repo",
              "value": "ansible-role-testimage",
              "type": "string"
            },
            {
              "id": "var-baseurl",
              "name": "base_url",
              "value": "https://alm-github.systems.uk.citi/api/v3",
              "type": "string"
            },
            {
              "id": "var-token",
              "name": "github_token",
              "value": "YOUR_GITHUB_PAT_HERE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-001",
      "name": "Set Repo Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.base_url }}/repos/{{ $json.owner }}/{{ $json.repo }}/git/trees/HEAD?recursive=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=token {{ $('Set Repo Variables').item.json.github_token }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        }
      },
      "id": "http-001",
      "name": "Get Repo File Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// -------------------------------------------------------\n// AI-assisted file filtering\n// This code sends the full file list to Claude and asks it\n// to pick only the files relevant for OSS detection\n// -------------------------------------------------------\n\nconst tree = $input.item.json.tree || [];\nconst vars = $('Set Repo Variables').item.json;\n\n// Quick pre-filter: skip binary/media/irrelevant extensions\nconst skip = ['.png','.jpg','.gif','.svg','.ico','.woff','.ttf','.mp4','.zip','.tar','.gz','.lock'];\nconst candidates = tree\n  .filter(f => f.type === 'blob')\n  .filter(f => !skip.some(ext => f.path.endsWith(ext)))\n  .map(f => f.path);\n\n// Known dependency/tool files — prioritize these\nconst priority = [\n  'requirements.txt', 'requirements.yml', 'requirements.yaml',\n  'package.json', 'package-lock.json',\n  'Dockerfile', 'docker-compose.yml', 'docker-compose.yaml',\n  'go.mod', 'go.sum',\n  'pom.xml', 'build.gradle', 'build.gradle.kts',\n  'Pipfile', 'Pipfile.lock', 'pyproject.toml', 'setup.py', 'setup.cfg',\n  'Gemfile', 'Gemfile.lock',\n  'Cargo.toml',\n  'meta/main.yml', 'meta/main.yaml',\n  'tasks/main.yml', 'tasks/main.yaml'\n];\n\nconst filtered = candidates.filter(path => {\n  const name = path.split('/').pop();\n  // Always include known dependency files\n  if (priority.includes(name) || priority.includes(path)) return true;\n  // Include all YAML/YML (Ansible playbooks, roles, etc.)\n  if (name.endsWith('.yml') || name.endsWith('.yaml')) return true;\n  // Include all txt files\n  if (name.endsWith('.txt')) return true;\n  // Include shell scripts\n  if (name.endsWith('.sh')) return true;\n  return false;\n});\n\n// Return each file as a separate item for looping\nreturn filtered.map(path => ({\n  json: {\n    path,\n    owner: vars.owner,\n    repo: vars.repo,\n    base_url: vars.base_url,\n    github_token: vars.github_token\n  }\n}));\n"
      },
      "id": "code-001",
      "name": "Filter Relevant Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-001",
      "name": "Loop Over Files",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.base_url }}/repos/{{ $json.owner }}/{{ $json.repo }}/contents/{{ $json.path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=token {{ $json.github_token }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "http-002",
      "name": "Fetch File Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Decode base64 file content from GitHub API\nconst item = $input.item.json;\n\nlet decodedContent = '';\ntry {\n  // GitHub returns content as base64 with newlines\n  const raw = (item.content || '').replace(/\\n/g, '');\n  decodedContent = Buffer.from(raw, 'base64').toString('utf8');\n} catch (e) {\n  decodedContent = '[Could not decode content]';\n}\n\nreturn [{\n  json: {\n    filename: item.name,\n    path: item.path,\n    content: decodedContent\n  }\n}];\n"
      },
      "id": "code-002",
      "name": "Decode Base64 Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "files",
        "options": {}
      },
      "id": "agg-001",
      "name": "Aggregate All Files",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build a structured prompt for Claude/OpenAI\nconst files = $input.item.json.files || [];\n\nlet fileContext = '';\nfor (const f of files) {\n  fileContext += `\\n\\n--- FILE: ${f.path} ---\\n${f.content}`;\n}\n\nconst prompt = `You are an expert software auditor specializing in open source software (OSS) compliance and dependency analysis.\n\nBelow are the contents of files from a GitHub repository (an Ansible infrastructure role).\n\nYour task:\n1. Identify ALL open source tools, libraries, packages, roles, and dependencies referenced in these files.\n2. For each one, extract: name, version (if present), category (e.g. Python lib, Ansible Galaxy role, Docker base image, OS package, CLI tool, etc.), and which file it was found in.\n3. Return your response ONLY as valid JSON — no explanation, no markdown fences.\n\nJSON format:\n{\n  \"repository\": \"ansible-role-testimage\",\n  \"scan_date\": \"${new Date().toISOString()}\",\n  \"tools\": [\n    {\n      \"name\": \"example-package\",\n      \"version\": \"1.2.3\",\n      \"category\": \"Python Library\",\n      \"source_file\": \"requirements.txt\",\n      \"license_hint\": \"MIT (if known)\"\n    }\n  ],\n  \"summary\": \"Brief summary of what this repo does and its OSS footprint.\"\n}\n\nFiles to analyze:${fileContext}`;\n\nreturn [{ json: { prompt, files_analyzed: files.length } }];\n"
      },
      "id": "code-003",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY_HERE"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "claude-opus-4-6",
          "max_tokens": 4096,
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-003",
      "name": "Claude AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300],
      "notes": "Uses Anthropic Claude API. Replace with OpenAI if preferred."
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and format the final OSS report\nconst response = $input.item.json;\n\nlet report;\ntry {\n  // Extract text from Claude's response format\n  const text = response.content[0].text;\n  // Strip any accidental markdown fences\n  const clean = text.replace(/```json|```/g, '').trim();\n  report = JSON.parse(clean);\n} catch (e) {\n  report = { error: 'Failed to parse AI response', raw: JSON.stringify(response) };\n}\n\n// Build a human-readable markdown summary\nlet markdown = `# OSS Tool Scan Report\\n`;\nmarkdown += `**Repository:** ${report.repository || 'Unknown'}\\n`;\nmarkdown += `**Scan Date:** ${report.scan_date || new Date().toISOString()}\\n\\n`;\nmarkdown += `## Summary\\n${report.summary || ''}\\n\\n`;\n\nif (report.tools && report.tools.length > 0) {\n  // Group by category\n  const byCategory = {};\n  for (const tool of report.tools) {\n    const cat = tool.category || 'Other';\n    if (!byCategory[cat]) byCategory[cat] = [];\n    byCategory[cat].push(tool);\n  }\n\n  markdown += `## Discovered Tools (${report.tools.length} total)\\n\\n`;\n  for (const [cat, tools] of Object.entries(byCategory)) {\n    markdown += `### ${cat}\\n`;\n    for (const t of tools) {\n      const ver = t.version ? ` v${t.version}` : '';\n      const lic = t.license_hint ? ` [${t.license_hint}]` : '';\n      markdown += `- **${t.name}**${ver}${lic} — \\`${t.source_file}\\`\\n`;\n    }\n    markdown += '\\n';\n  }\n}\n\nreturn [{\n  json: {\n    report,\n    markdown_summary: markdown,\n    tool_count: report.tools ? report.tools.length : 0\n  }\n}];\n"
      },
      "id": "code-004",
      "name": "Format OSS Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/oss-report-{{ $now.format('yyyy-MM-dd') }}.json",
        "dataPropertyName": "report",
        "options": {
          "append": false
        }
      },
      "id": "file-001",
      "name": "Save Report to File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [2660, 220],
      "notes": "Optional: saves JSON report to disk"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-001",
      "name": "Return Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2660, 380],
      "notes": "If triggered via webhook, sends back the full report"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set Repo Variables", "type": "main", "index": 0 }]]
    },
    "Set Repo Variables": {
      "main": [[{ "node": "Get Repo File Tree", "type": "main", "index": 0 }]]
    },
    "Get Repo File Tree": {
      "main": [[{ "node": "Filter Relevant Files", "type": "main", "index": 0 }]]
    },
    "Filter Relevant Files": {
      "main": [[{ "node": "Loop Over Files", "type": "main", "index": 0 }]]
    },
    "Loop Over Files": {
      "main": [
        [{ "node": "Fetch File Content", "type": "main", "index": 0 }],
        [{ "node": "Aggregate All Files", "type": "main", "index": 0 }]
      ]
    },
    "Fetch File Content": {
      "main": [[{ "node": "Decode Base64 Content", "type": "main", "index": 0 }]]
    },
    "Decode Base64 Content": {
      "main": [[{ "node": "Loop Over Files", "type": "main", "index": 0 }]]
    },
    "Aggregate All Files": {
      "main": [[{ "node": "Build AI Prompt", "type": "main", "index": 0 }]]
    },
    "Build AI Prompt": {
      "main": [[{ "node": "Claude AI Analysis", "type": "main", "index": 0 }]]
    },
    "Claude AI Analysis": {
      "main": [[{ "node": "Format OSS Report", "type": "main", "index": 0 }]]
    },
    "Format OSS Report": {
      "main": [
        [{ "node": "Save Report to File", "type": "main", "index": 0 }],
        [{ "node": "Return Report", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "oss-scanner-citi-github"
  }
}
